main .tienda .tiendaMenu{
  background-color: $d-blue;

  h1,
  ul.nav button.filter-btn{
    color: $white;
    font-family: $ff;
  } 

  ul.nav button.filter-btn{
    text-transform: capitalize;
    color: $white;
    font-family: $ff;
    border-radius:0.6rem;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 8px 10px;

    &.clear-filters{
      background-color: $danger;
    }

    &.selected,
    &:hover:not(.clear-filters){
      color: $brownie !important;
      background-color: $cream;
    }
  } 
}
//error alert
main .tienda .err-box{
  position: relative;
  min-height: 25vh;

  .alert-wrapper{
    background-color: transparent;
  }
}
// grid layout 
main .tienda .itemListContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}
main .tienda .itemListContainer .item{
  border-radius: 4px;
  background-color: $cream;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  figure{
    background-color: $white;
    height: 280px;
    flex-shrink: 0; // Para evitar que se reduzca

    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .info{
    padding: 15px 15px 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Permite que la .info crezca para ocupar el espacio disponible */
    justify-content: space-between; /* Esto asegura que el contenido esté espaciado */

    div.cta{
      @include FlexConfig(space-between);
    }

    p,a{
      // color: $d-grey;
      font-family: $ff;
    }

  }
}
